nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  
  .logo img {
    height: 50px;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
  
  .nav-links li {
    list-style: none;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .burger {
  
    border:3px solid black;
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      background-color: #333;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
    }
  
    .nav-links li {
      opacity: 0;
    }
  
    .burger {
      display: inline-block;
      cursor: pointer;
    }
    .burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
  }
    .line1 .line2 .line3{
      width: 20px;
      border-top: 2px solid white;
      margin-top: 3px;
      border: 2px solid white;
  
    }
  }
  
  .nav-active {
    transform: translateX(0%);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
  
  }
  
  .toggle .line2 {
    opacity: 0;
  }
  
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
  }
  


  /* footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-content h3 {
    font-size: 24px;
  }
  
  .footer-content p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .socials {
    display: flex;
    list-style: none;
    margin-top: 20px;
  }
  
  .socials li {
    margin-right: 10px;
  }
  
  .socials a {
    color: #fff;
  }
  
  .socials i {
    font-size: 20px;
  }
  
  .footer-bottom {
    max-width: 1200px;
    margin: 0 auto;
    border-top: 1px solid #fff;
    padding-top: 20px;
  }
  
  .footer-bottom p {
    font-size: 14px;
  }
  

  /* hero page */
  .hero {
    height: 20rem;
    background-image: url('../images/felix.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit:cover;
    margin-top: 20px;
    padding-top: 20px;
    
  }
  
  .hero-content {
    text-align: center;
    color: #fff;
  }
  
  .hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
  }
  
  button {
    font-size: 18px;
    padding: 15px 30px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }

  